/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Trade Gothic ProCyr */
@font-face {
  font-family: 'Trade Gothic ProCyr';
  src: url('fonts/TradeGothic.woff2') format('woff2');
  font-display: swap;
}
/* Helvetica Neue Regular*/
@font-face {
  font-family: 'Helvetica Neue';
  src: url('fonts/HelveticaNeue.woff2') format('woff2');
  font-display: swap;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  font-family: 'Trade Gothic ProCyr', sans-serif;

  display: flex;

  box-sizing: border-box;
  height: 100%;

  flex-flow: column;
  -ms-overflow-style: none; /*Hide scrollbar for IE and Edge */
  scrollbar-width: none; /*Hide scrollbar for Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.btn {
  font-family: 'Trade Gothic ProCyr', sans-serif;
  font-size: 16px;

  width: 100px;
  height: 40px;

  cursor: pointer;
  text-align: center;

  color: white;
  border: none;
  border-radius: 2px;
  outline: none;
  background-color: #111;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #8d8d8d;
}

:focus-visible {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.header {
  padding: 10px 25px;

  border-bottom: 1px solid #e5e5e5;
}

.header__wrapper {
  font-size: 24px;

  display: flex;

  max-width: calc(50% + 115px);

  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 576px) {
  .header__wrapper {
    max-width: none;
  }
}

.main {
  display: flex;

  padding: 10px 15px;

  flex-flow: column;
  justify-content: flex-start;
  flex: 1 0 auto;
}

.main__input {
  display: flex;

  padding: 20px 10px;

  flex: none;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

.main__input-block {
  font-family: 'Trade Gothic ProCyr', sans-serif;

  display: flex;
  gap: 20px;

  width: 400px;

  flex-flow: row;
  justify-content: space-between;
}

.main__output {
  font-size: 20px;

  display: flex;

  padding: 10px;

  flex: 8 0 auto;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.footer {
  padding: 10px 15px;

  background-color: #111;

  flex: none;
}

.footer__wrapper {
  display: flex;

  flex-flow: row;
  justify-content: center;
  gap: 20px;
}

.input {
  /* width auto; */
  flex-grow: 1;
  border-radius: 2px;

  font-family: 'Trade Gothic ProCyr', sans-serif;
  font-size: 16px;

  border-color: #111;
  outline: none;
}

.product-info {
  display: flex;

  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.subtitle {
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #6d6d6d;
}

.title {
  font-size: 40px;

  padding-bottom: 10px;

  letter-spacing: 1px;
  text-transform: uppercase;
}

.sizes {
  display: flex;

  max-width: 90px;

  flex-flow: column nowrap;
  justify-content: space-between;
}

.block {
  display: flex;

  width: 90px;
  margin: 3px 0;

  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.low {
  fill: #ff2c7d;
}

.medium {
  fill: #f8d84f;
}

.high {
  fill: #3de716;
}

.na {
  fill: #ababab;
}

.oos {
  fill: #151e11;
}

.error {
  color: red;
}

.show {
  -webkit-animation-name: showBlock;
  animation-name: showBlock;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);

  webkit-animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

.hide {
  -webkit-animation-name: hideBlock;
  animation-name: hideBlock;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);

  webkit-animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideBlock {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modal {
  font-family: 'Trade Gothic ProCyr', sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;

  background: rgba(0, 0, 0, 0.6);

  justify-content: center;
  align-items: center;

  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
}

.modal__container {
  overflow-y: auto;

  box-sizing: border-box;
  max-width: 500px;
  max-height: 100vh;

  border-radius: 2px;
  background-color: #fff;
}

.modal__header {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.modal__title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25;

  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;

  color: #00449e;
}

.modal__close {
  border: 0;
  background: transparent;
}

.modal__header .modal__close:before {
  content: '\2715';
}

.modal__content {
  line-height: 1.5;

  display: flex;
  gap: 10px;

  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 10px 15px;

  color: rgba(0, 0, 0, 0.8);

  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.modal__btn {
  line-height: 2.5;

  overflow: visible;

  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  border-width: 0;
  border-style: none;

  -webkit-appearance: button;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/*.modal__btn:focus, .modal__btn:hover {*/
/*    -webkit-transform: scale(1.05);*/
/*    transform: scale(1.05);*/
/*}*/

/*.modal__btn-primary {*/
/*    background-color: #00449e;*/
/*    color: #fff;*/
/*}*/

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden='false'] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='false'] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
