:root {
  --primay: #161716;
  --accent: #F3F4F6;
  --strong-grey: #6D6D6D;
  --placeholder: #ABABAB;
  --outline: var(--accent);
  --header-border:#303030;
  --button-bg: var(--accent);
  --button-bg-hover: var(--placeholder);
  --kbd-background: #8A827A;
  --kbd-border: #574F48;
  --product-na: #ABABAB;
  --product-oos: #161716;
  --footer: var(--primay);
}