/* Root & Default override */

:root {
  --primay: var(--black);
  --accent: var(--white);
  --light-grey: #ABABAB;
}

::placeholder {
  --placeholder-color: var(--light-grey);
}

:focus, :focus-visible {
  --outline-color: var(--accent);
}

/* Keyboard Input element */

kbd {
  --kbd-bg: #8A827A;
  --kbd-border: #574F48;
}

/* Header */

.header {
  --header-border:#303030;
}

/* Footer */

.footer {
  --footer-bg: var(--primay);
}

/* Button */

.btn {
  --button-bg: var(--accent);
  --button-bg-hover: var(--light-grey);
}

/* Product sizes */

.sizes {
  --product-na: #ABABAB;
  --product-oos: #161716;
}