/* Fonts */

/* Trade Gothic */
@font-face {
  font-weight: bold;
  font-family: "Trade Gothic";
  font-style: normal;
  src: url("/fonts/TradeGothic.woff2") format("woff2");
  font-display: swap;
}

/* Helvetica Neue Regular */

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue.woff2") format("woff2");
  font-display: swap;
}

/* Root & Default override */

:root {
  --black: #161716;
  --white: #f7f7f7;
  --strong-grey: #6d6d6d;
}

::placeholder {
  color: var(--placeholder-color);
}

:focus {
  outline: 2px solid var(--outline-color);
  outline-offset: 0.125rem;
}

:focus:not(:focus-visible) {
  outline: none;
}

:focus-visible {
  outline: 2px solid var(--outline-color);
  outline-offset: 0.125rem;
}

/* HTML */

html {
  height: 100%;
}

/* Body */

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;
  min-height: 100%;

  color: var(--accent);
  font-family: "Trade Gothic", fantasy, Helvetica, sans-serif;

  background-color: var(--primay);
}

/* Keyboard Input element */

kbd {
  padding: 6px;
  border: 1px solid var(--kbd-border);
  border-radius: 6px;

  font: inherit;

  background-color: var(--kbd-bg);
  box-shadow: inset 0 -1px 0 var(--kbd-border);
}

/* Links */

a {
  text-decoration: none;
}

/* Header */

.header {
  padding: 10px 25px;
  border-bottom: 1px solid var(--header-border);
}

.header__wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  max-width: calc(50vw + 115px);

  font-size: 24px;
}

@media (max-width: 576px) {
  .header__wrapper {
    max-width: none;
  }
}

/* Main */

.main {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding: 10px 15px;
}

.main__input {
  display: flex;
  flex: none;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 10px;
}

.main__input-block {
  display: flex;
  flex-flow: row;
  gap: 20px;
  justify-content: space-between;
  width: 400px;
}

.main__output {
  display: flex;
  flex: 8 0 auto;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;

  font-size: 20px;
}

/* Footer */

.footer {
  padding: 10px 15px;

  background-color: var(--footer-bg);
}

.footer__wrapper {
  display: flex;
  flex-flow: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

/* Button */

.btn {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 16px;

  color: var(--primay);
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;

  background-color: var(--button-bg);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--button-bg-hover);
  outline-color: var(--button-bg-hover);
}

.btn:active {
  background-color: var(--strong-grey);
  outline-color: var(--strong-grey);
}

/* Input */

.input {
  flex-grow: 1;
  padding: 0 16px;
  border: 2px solid var(--accent);
  border-radius: 16px;

  color: var(--accent);
  font-size: 16px;

  background-color: var(--primay);
}

/* Product */

.product-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

/* TODO: change class names */
.subtitle {
  color: var(--strong-grey);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.title {
  padding-bottom: 10px;

  font-size: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sizes {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  max-width: 90px;
}

.block {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  margin: 3px 0;
}

.low {
  fill: #ff2c7d;
}

.medium {
  fill: #f8d84f;
}

.high {
  fill: #3de716;
}

.na {
  fill: var(--product-na);
}

.oos {
  fill: var(--accent);
}

.error {
  color: red;
}

/* Switcher */

.switcher {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  padding: 6px;
  border: none;
  border-radius: 16px;

  background-color: var(--strong-grey);
}

.switcher:focus-within {
  outline: 2px solid var(--white);
  outline-offset: 0.125rem;
}

/* Switcher Label */

.switcher__label {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

/* Switcher Radio */

.switcher__radio {
  appearance: none;
}

.switcher__radio:checked {
  position: absolute;

  width: 28px;
  height: 28px;
  border-radius: 16px;

  background-color: var(--white);
  outline: none;
}

/* Switcher Icon */

.switcher__radio + .switcher__icon {
  filter: invert(1);
}

.switcher__radio:checked + .switcher__icon {
  filter: invert(0);
}
