/* Trade Gothic */
@font-face {
  font-family: 'Trade Gothic';
  src: url('/fonts/TradeGothic.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* Helvetica Neue Regular*/
@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue.woff2') format('woff2');
  font-display: swap;
}

::placeholder {
  color: var(--placeholder-color);
}

:focus {
  outline-offset: 0.125rem;
  outline: 2px solid var(--outline-color);
}

:focus:not(:focus-visible) {
  outline: none;
}

:focus-visible {
  outline-offset: 0.125rem;
  outline: 2px solid var(--outline-color);
}


a {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  font-family: 'Trade Gothic', sans-serif;
  background-color: var(--primay);
  color: var(--accent);

  display: grid;
  grid-template-rows: auto 1fr auto;

  box-sizing: border-box;
  min-height: 100%;
}

kbd {
  background-color: var(--kbd-bg);
  border: 1px solid var(--kbd-border);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 var(--kbd-border);
  font: inherit;
  padding: 6px 6px;
}

.header {
  padding: 10px 25px;

  border-bottom: 1px solid var(--header-border);
}

.header__wrapper {
  font-size: 24px;

  display: flex;

  max-width: calc(50vw + 115px);

  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 576px) {
  .header__wrapper {
    max-width: none;
  }
}

.main {
  display: flex;

  padding: 10px 15px;

  flex-flow: column;
  justify-content: flex-start;
}

.main__input {
  display: flex;

  padding: 20px 10px;

  flex: none;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

.main__input-block {
  display: flex;
  gap: 20px;

  width: 400px;

  flex-flow: row;
  justify-content: space-between;
}

.main__output {
  font-size: 20px;

  display: flex;

  padding: 10px;

  flex: 8 0 auto;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.footer {
  padding: 10px 15px;

  background-color: var(--footer-bg);
}

.footer__wrapper {
  display: flex;

  flex-flow: row;
  justify-content: center;
  gap: 20px;
}

.btn {
  font-size: 16px;

  width: 100px;
  height: 40px;

  cursor: pointer;
  text-align: center;

  color: var(--primay);
  border: none;
  border-radius: 2px;
  background-color: var(--button-bg);
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--button-bg-hover);
  outline-color: var(--button-bg-hover);
}

.btn:active {
  background-color: var(--strong-grey);
  outline-color: var(--strong-grey);
}

.input {
  flex-grow: 1;
  border-radius: 2px;
  color: var(--accent);

  font-size: 16px;

  background-color: var(--primay);
  border: 2px solid var(--accent);
}

.product-info {
  display: flex;

  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.subtitle {
  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--strong-grey);
}

.title {
  font-size: 40px;

  padding-bottom: 10px;

  letter-spacing: 1px;
  text-transform: uppercase;
}

.sizes {
  display: flex;

  max-width: 90px;

  flex-flow: column nowrap;
  justify-content: space-between;
}

.block {
  display: flex;

  width: 90px;
  margin: 3px 0;

  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.low {
  fill: #ff2c7d;
}

.medium {
  fill: #f8d84f;
}

.high {
  fill: #3de716;
}

.na {
  fill: var(--product-na)
}

.oos {
  fill: var(--accent);
}

.error {
  color: red;
}

