/* Root & Default override */

:root {
  --primay: var(--white);
  --accent: var(--black);
}

::placeholder {
  --placeholder-color: var(--strong-grey);
}

:focus, :focus-visible {
  --outline-color: var(--accent);
}

/* Keyboard Input element */

kbd {
  --kbd-bg: #fafbfc;
  --kbd-border: #D1D5dA;
}

/* Header */

.header {
  --header-border:#E5E5E5;
}

/* Footer */

.footer {
  --footer-bg: var(--accent)
}

/* Button */

.btn {
  --button-bg: var(--accent);
  --button-bg-hover: #515251;
}

/* Product sizes */

.sizes {
  --product-na: #ABABAB;
  --product-oos: #161716;
}